.topbar{
    background-color: black;
    width:100%;
    height:70px;
}
.topbar img{
    height:70px;
    width:90px;
    margin-left:200px;
}
.topbar ul{
    list-style: none;
    margin-top: -5%;
    display: flex;
    justify-content: flex-end;
    
}
.topbar ul li a{
    float:left;
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    height:50px;
    line-height: 50px;
    position:relative;
    text-decoration: none;
    
    
}
.topbar ul ul{
    display:none;
    
}
.topbar ul li:hover{
    background:black;
    width:150px;
}
.topbar ul li:hover>ul{
    display:block;
    text-align: center;
}
.topbar ul ul{
    top:20px;
    position:relative;
}
.topbar ul li ul li a{
    padding-left: 10px;
    margin-bottom: 40px;
    position:relative;
    left:-50px;

}


.banner {
    background-image: url(banner4.jpg);
    width:100%;
    height:700px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-top: -22px;
    background-size:100% 100%;   

}
.banner h1{
    margin-left: 250px;
     padding-top: 120px;
     color:white;
}
.banner p{
    font-size: 20px;
    text-align: unset;
    padding-left: 150px;
    color: white;
    font-weight: bold;
    
}
.box1{
    background-image: url(box1.jpg);
    width:33.3%;
    height:300px;
    float:left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:100% 100%;
    opacity: 1;   

}
.box2{
    background-image: url(box5.jpg);
    width:33.4%;
    height:300px;
    float:left;
    background-size:100% 100%;  
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 1;
}
.box3{
    background-image: url(box3.jpg);
    width:33.3%;
    height:300px;
    float:right;
    background-size:100% 100%;  
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 1;
}
.box1:hover{
    opacity: 1;
    transition: 0.9s;
    color: black;
}
.box2:hover{
    opacity: 1;
    transition: 0.9s;
    color:black;
}
.box3:hover{
    opacity: 1;
    transition: 0.9s;
    color: black;
}

.box1 h1{
    text-align: center;
}
.box2 h1{
    text-align: center;
}
.box3 h1{
    text-align: center;
}
.box1,.box2,.box3{
    font-size: 25px;
    font-style: bold;
    text-align: justify;
    font-weight: bold;
    color:white;
}



